@font-face {
    font-family: mainfont;
    src: url(Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #222;
    color: #fff;
}

img{
    width: 500px;
    height: auto;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.image {
    display: flex;
    flex: 1;
    background-color: #333;
    /* Replace the following line with a background image */
    background-image: url("dark.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
}
.href{
    background-color: #0c0c0cbb;
    border: 3px #252525ce solid;
    color: white;
    max-width: fit-content;
    max-height: fit-content;
}
.para{
    display:flex;
    align-self: flex-start;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.entrance {
    text-align: center;
}

.form {
    display: flex;
    margin-top: 20px;
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

.submit-button {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 30px;
    padding-top: 20px;
    padding: 20px;
    background-color: #0f0f0fd0;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    min-width: fit-content;
    font-size: 20px;
    width: 230px;
}

button:hover {
    background-color: #383838a9;
}


.odin{
    display: flex;
    background-color: #1b1b1b6e;
    opacity: 90%;
    width: 100%;
    height: fit-content;
    font-size: 100px;
    font-family: mainfont;
    justify-content: center;
    flex-direction: row;
}

.odinImg{
    height: 100px;
    width: 100px;
}

.buton{
    display:flex;
    flex-direction: column;
}

input{
    max-width: 300px;
    min-width: fit-content;
    width: 300px;
}

.form{
    
    border-bottom: 3px rgba(27, 27, 27, 0.781) solid;
}